:root {
    --rmit-blue: #000054; 
    --rmit-red: #E61E2A;
}

body {
    background-color: aliceblue;
    margin: 0;
    font-size: 18px;
}

header {
    background-color: aliceblue;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

header img {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 250px;
    height: 50px;
}

header h1 {
    color: var(--rmit-blue);
    padding-top: 10px;
    margin: 5px 0 0;
}

header div p {
    display: inline-block;
    color: white;
    background-color: var(--rmit-red);
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    margin: 10px;
}

nav .mobile-nav-icon {
    display: none;
    color: white;
    background-color: #E61E2A;
    padding: 10px 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 15px;
    margin: 0;
    background-color: #E61E2A;
}

header a, nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

main section {
    margin: 15px 10px;
}

main section h1 {
    color: var(--rmit-blue);
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
}

div.product-container {
    display: grid;
    grid-template-columns: 24% 24% 24%;
    gap: 10px;
    height: 480px;
}

div.product-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    height: 480px;
}

div.product-listing img {
    width: 100%;
    height: 100%;
}

div.product-listing>a {
    height: 70%;
}

.out-of-stock {    
    margin-bottom: 50px;
}

.out-of-stock .product-container {
    display: block;
    margin-left: 10px;
    font-style: italic;
    height: 25px;
}

/* Responsive layout for smaller screen */
@media only screen and (max-width: 768px) {
    header img {
        display: block;
        position: relative;
        margin: 15px auto;
        left: 0;
        top: 0;
    }

    nav .mobile-nav-icon {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav .mobile-nav-icon:hover+ul, nav .mobile-nav-icon+ul:hover{
        display: flex;
        flex-direction: column;
    }

    div.product-container {
        grid-template-columns: 45% 45%;
        height: auto;
    }
}