* {
    box-sizing: border-box;
  }
  
  body {
    color: #303030;
    background-color: #fafafa;
    font-family: "Helvetica", "Arial", sans-serif;
  }
  
  h1,
  h2,
  h3 {
    color: indigo;
    font-family: "Georgia", "Times", serif;
    font-weight: 700;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  a {
    color: darkcyan;
    text-decoration: none;
  }
  
  /** START WRITING YOUR CSS CODR FOR PAGE LAYOUT BELOW THIS COMMENT **/ 
  nav {
    display: flex;
    border-bottom: 1px solid #F0F0F0;
    justify-content: start;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  main section:nth-child(odd) {
    background-color: #F0F0F0;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 25px 25% 50px;
  }

  .content-container p, .content-container ul, h2 {
    margin-bottom: 0;
  }

  footer {
    display: flex;
    background-color: #3C2A4A;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }

  footer p {
    color: white;
    font-size: 15px;
    text-align: center;
  }

  img {
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    padding-top: 20px;
  }

  input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
  }

  textarea {
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
  }

  button {
    font-size: 15px;
    margin-top: 50px;
    height: 50px;
    color: white;
    background-color: #4BAF50;
    border: 0;
    border-radius: 5px;
  }