header, footer {
    text-align: center;
}

main.flex-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

section.flex-item {
    width: 40%;
    height: 500px;
    border: 2px solid red;
    border-radius: 25px;
    padding: 25px;
    margin: 25px;
}

section.flex-item a {
    color: black;
    text-decoration: none;
}

img.screenshot {
    width: 95%;
    height: 75%;
    margin: 0 2.5%;
    border-radius: 10px;
}

.html-lang {
    color: orangered;
}

.css-lang {
    color: purple;
}