html {
    background-color: rgb(177, 210, 239);
}

body {
    margin: 0;
}

header, footer {
    text-align: center;
}

footer {
    margin-top: 3%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-div {
    background: linear-gradient(to top, rgba(0, 128, 255, 0.8), rgba(255, 255, 255, 0) 70.71%);
    width: 100%;
    padding: 10px 100px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(128, 75, 202);
}

main.flex-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
}

section.flex-item {
    background: linear-gradient(217deg, rgb(163, 163, 197), rgba(194, 194, 194, 0) 70.71%),
            linear-gradient(336deg, rgba(0, 128, 255, 0.8), rgba(0,0,255,0) 70.71%);
    width: 22%;
    height: auto;
    box-shadow: 0 0 10px rgb(128, 75, 202);
    border-radius: 25px;
    padding: 25px;
    margin: 15px;
}

section.flex-item a {
    color: black;
    text-decoration: none;
}

img.screenshot {
    width: 95%;
    height: 75%;
    margin: 0 2.5%;
    border-radius: 10px;
}

.html-lang {
    color: orangered;
}

.css-lang {
    color: purple;
}
